{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>
            We Build Modern Tech Solutions
        </h1>

        <p>
            Websites, automation systems,
            dashboards and scalable software.
        </p>

        <div class="hero-buttons">

            <a href="{{ url_for('services') }}"
               class="btn">
               Our Services
            </a>

            <a href="{{ url_for('contact') }}"
               class="btn secondary-btn">
               Contact Us
            </a>

        </div>

    </div>

</section>

{% endblock %}
{% endblock %}